body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #fff5f7;
    color: #4a4a4a;

}

header {
    background: #f8c8dc;
    color: #513e4b;
    padding: 20px;
    text-align: center;

}

nav a {
    color: #d63384;
    margin: 10px;
    text-decoration: none;

}

section {
    padding: 40px;

}

section {
    background: white;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(255, 182, 193, 0.3);
}

/*formulario*/

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f3a6c0;
    border-radius: 10px;
    outline: none;
}

input:focus, textarea:focus {
    border-color: #d63384;
}

/*Botón*/

button {
    background: #f48fb1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}

button:hover {
    background: #d63384;
}

#mensaje {
    margin-top: 15px;
    color: #d63384;
    font-weight: bold;
}